<p>{{ _('Уважаемый') }} {{ user.username }},</p>
<p>
    {{ _('Чтобы сбросить пароль') }}
    <a href="{{ url_for('reset_password', token=token, _external=True) }}">
        {{ _('кликните по ссылке') }}
    </a>.
</p>
<p>{{ _('Кроме того, вы можете вставить следующую ссылку в адресную строку браузера:') }}</p>
<p>{{ url_for('reset_password', token=token, _external=True) }}</p>
<p>{{ _('Если вы не запрашивали сброс пароля, просто проигнорируйте это сообщение.') }}</p>
<p>{{ _('С Уважением,') }}</p>
<p>{{ _('Команда Микроблога') }}</p>