<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=post.author.username) }}">
                <img src="{{ post.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            {% set user_link %}
                <a href="{{ url_for('user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            {% endset %}
            {{ _('%(username)s сообщил %(when)s',
            username=user_link, when=moment(post.timestamp).fromNow()) }}
            <p class="post-text" data-postid="{{ post.id }}" data-original-text="{{ post.body }}">{{ post.body }}</p>
            {% if post.language and post.language != g.locale %}
                <a href="#" class="translate-link" id="{{ post.id }}">{{ _('Translate') }}</a>
            {% endif %}
        </td>
    </tr>
</table>


<!-- Подключаем jQuery (подразумевается, что вы используете jQuery) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Ваш скрипт для перевода -->
<script src="{{ url_for('static', filename='js/translate.js') }}"></script>
